/*  Mobile: 375px
    - Desktop: 1440px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --text-p: 0.938rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: var(--font-weight-normal);
  background-color: var(--slate-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: 1.375rem;
}

p {
  font-size: var(--text-p);
}

.card-container {
  background-color: var(--White);
  box-shadow: 0px 5px 5px var(--slate-500);
  border-radius: 1rem;
  max-width: 25rem;
  padding: 1rem;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.card-image {
  max-width: 23rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.card-header {
    color: var(--slate-900);
    text-align: center;
}

.card-paragraph {
    color: var(--slate-500);
    text-align: center;
}

.attribution {
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 23.438rem) {

  .card-header {
    font-size: 1rem;
  }

  .card-paragraph {
    font-size: 0.8rem;
  }

  .attribution {
    font-size: 9px;
  }
}